.popup-container{
    position: fixed;
    right: 0px;
top: 208px;
width: 400px;
height: 600px;
background-color: rgba(#fffdfcde,0.99);
color: black;
// padding: 8px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
box-shadow: -1px -1px 6px rgba($color: #000000, $alpha: 0.25);
border-radius: 5px;
font-family: Inter, sans-serif;;

.title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -78px;
    padding: 0px 20px;
    font-size: 20px;
    // border-bottom: 0.25px solid;
    align-items: center;
    height: 60px;
    .close-btn{
        scale: 1;
        transition: 0.5s ease-in;
    }
.close-btn:hover{
    border-radius: 3px;
    // padding: 5px;
scale:1.1;
transition: 0.5s ease-out;
background-color:rgba(rgb(193, 193, 193),0.3);
}
}
.data{
    margin-top: -80.5px;
    display: flex;
    width: 100%;
    padding: 0px 20px;
    height: 65px;
    font-size: 1.25em;
    // padding: 5px 0px;
    justify-content: space-around;
    align-items: center;
    border: 1.5px solid gray;
border-left: none;
    .rows{
        border-right: 1.5px solid gray;
padding: 17px 20px;
    }
}

.graph{
    position: relative;
    top: -80px;
    // .progress-container{
    //     display: flex;
    //     width: 100%;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     // gap: -100px;
    //     p{
    //       font-size: 14px;
    //       margin-bottom: -5px;
    //     }
    //   }
}

}

.close-popup{
    transition: 0.2s ease-out;
transform: translateX(100%);
}

.open-popup{
    transition: 0.2s ease-in;
transform: translateX(0);
}




@media screen and (max-width:590px) {
    .popup-container{
        top: 469px;

    }
}