// .nav-container{
// $orange:rgb(252, 128, 3)
//     position: absolute;
//     top: 0px;
//     width: 100%;
//     overflow-x: hidden;
// }


// .table-data{
//     width: 100%; 
// position: absolute;
// overflow-x: scroll;
// top: 145px;
// }


.professional-table {
 

.file-details{
  width: 100%;
  background-color: rgb(246, 246, 246);
  padding: 15px 10px 0px;
  // margin: 5px;
  position: fixed;
  left: 0px;
  top: 57px;
  // border-top: 1px solid;
  z-index: 10;
  // overflow-x: hidden !important;
  color: rgba(0, 0, 0, 0.602);
overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  img{
    margin-top: -10px;
    margin-bottom: 13px;
  }
  p{
    font-size: 18px;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Inter, sans-serif;;
  }
}

}

.filterData{
  width: 100%;
background-color: white;
  padding: 15px;
  // margin: 5px;
  position: fixed;
  top: 133px;
  left: 0px;
  z-index: 100;
display: flex;

overflow-x: hidden;
// justify-content: space-around;
justify-content: center;
gap: 50px;
align-items: center;
  .clean-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
  }
  .clean-section:hover{
    background-color: rgba($color: #000000, $alpha: 0.1);
// background-color: rgba(252, 128, 3,0.3);
    
  }
  box-shadow: 0px 0.5px 4px rgba($color: #000000, $alpha: 0.2);
}
.spinner{
  position: absolute;
  top: 400px;
}
table {
  position: absolute;
  // width: 100%;
top: 204px;
left: 0px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid #ddd;
overflow-x: scroll;
font-family: Inter, sans-serif;;
}

th, td {
  padding: 10px;
  text-align: center;
// width: 12.5vw;
width: 280px;
// overflow-x: hidden;
  border-bottom: 1.2px solid rgba(36, 36, 36, 0.4);
  border-right: 1.2px solid rgba(36, 36, 36, 0.4); /* Add border to create 
  vertical lines */
}



th {
  // background-color: #efddffde;
  background-color: 
  rgb(255, 245, 236);
  border-top: solid 5px rgb(252, 128, 3);
// border-top: solid 5px #8A2BE2;
  overflow-y: hidden;
}

td{
.first-container{
  display: flex;
  flex-direction: column;
justify-content: flex-start;
// margin-top: 12px;
height: 200px;
overflow-y: scroll;
span{
  margin-bottom: 10px;
}
  .progress-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: -100px;
    p{
      font-size: 14px;
      margin-bottom: -5px;
    }
  }
}
 
}


tr.hovered {
  background-color: #f7f7f7;
  cursor: pointer;
}


/* Remove the right border from the last column in the table */
td:last-child, th:last-child {
  border-right: none;
}



@media screen and (max-width:590px) {
  .professional-table{
    .file-details{
      flex-direction: column;
gap: 10px;
align-items:start;
    }
.filterData{
  flex-direction: column;
  top: 298px;
  justify-content: center;
  gap: 12px;
  align-items: flex-start;
}
table{
top: 469px;
align-items: flex-start;
}
  }


}